@model Notifications.Web.ViewModels.CustomerMessageViewModel

@{
    ViewBag.Title = "Message";
}

<div id="messageContainer">
	
	<h2>@Model.Title</h2>
	<p>@Model.Body</p>

	<button>@Html.ActionLink("Dismiss Message", "", "", new {@href = "/Notifications/Index"})</button>
	<hr/>

</div>
